<div class="game-board container text-center">
  <div class="row">
    <app-square
      #oneone
      class="col"
      [row]="'one'"
      [col]="'one'"
      [box]="'one'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #onetwo
      class="col"
      [row]="'one'"
      [col]="'two'"
      [box]="'one'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #onethree
      class="col"
      [row]="'one'"
      [col]="'three'"
      [box]="'one'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #onefour
      class="col"
      [row]="'one'"
      [col]="'four'"
      [box]="'two'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #onefive
      class="col"
      [row]="'one'"
      [col]="'five'"
      [box]="'two'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #onesix
      class="col"
      [row]="'one'"
      [col]="'six'"
      [box]="'two'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #oneseven
      class="col"
      [row]="'one'"
      [col]="'seven'"
      [box]="'three'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #oneeight
      class="col"
      [row]="'one'"
      [col]="'eight'"
      [box]="'three'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #onenine
      class="col"
      [row]="'one'"
      [col]="'nine'"
      [box]="'three'"
      (handleClick)="squareClick($event)"
    ></app-square>
  </div>
  <div class="row">
    <app-square
      #twoone
      class="col"
      [row]="'two'"
      [col]="'one'"
      [box]="'one'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #twotwo
      class="col"
      [row]="'two'"
      [col]="'two'"
      [box]="'one'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #twothree
      class="col"
      [row]="'two'"
      [col]="'three'"
      [box]="'one'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #twofour
      class="col"
      [row]="'two'"
      [col]="'four'"
      [box]="'two'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #twofive
      class="col"
      [row]="'two'"
      [col]="'five'"
      [box]="'two'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #twosix
      class="col"
      [row]="'two'"
      [col]="'six'"
      [box]="'two'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #twoseven
      class="col"
      [row]="'two'"
      [col]="'seven'"
      [box]="'three'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #twoeight
      class="col"
      [row]="'two'"
      [col]="'eight'"
      [box]="'three'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #twonine
      class="col"
      [row]="'two'"
      [col]="'nine'"
      [box]="'three'"
      (handleClick)="squareClick($event)"
    ></app-square>
  </div>
  <div class="row">
    <app-square
      #threeone
      class="col"
      [row]="'three'"
      [col]="'one'"
      [box]="'one'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #threetwo
      class="col"
      [row]="'three'"
      [col]="'two'"
      [box]="'one'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #threethree
      class="col"
      [row]="'three'"
      [col]="'three'"
      [box]="'one'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #threefour
      class="col"
      [row]="'three'"
      [col]="'four'"
      [box]="'two'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #threefive
      class="col"
      [row]="'three'"
      [col]="'five'"
      [box]="'two'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #threesix
      class="col"
      [row]="'three'"
      [col]="'six'"
      [box]="'two'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #threeseven
      class="col"
      [row]="'three'"
      [col]="'seven'"
      [box]="'three'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #threeeight
      class="col"
      [row]="'three'"
      [col]="'eight'"
      [box]="'three'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #threenine
      class="col"
      [row]="'three'"
      [col]="'nine'"
      [box]="'three'"
      (handleClick)="squareClick($event)"
    ></app-square>
  </div>
  <div class="row">
    <app-square
      #fourone
      class="col"
      [row]="'four'"
      [col]="'one'"
      [box]="'four'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #fourtwo
      class="col"
      [row]="'four'"
      [col]="'two'"
      [box]="'four'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #fourthree
      class="col"
      [row]="'four'"
      [col]="'three'"
      [box]="'four'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #fourfour
      class="col"
      [row]="'four'"
      [col]="'four'"
      [box]="'five'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #fourfive
      class="col"
      [row]="'four'"
      [col]="'five'"
      [box]="'five'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #foursix
      class="col"
      [row]="'four'"
      [col]="'six'"
      [box]="'five'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #fourseven
      class="col"
      [row]="'four'"
      [col]="'seven'"
      [box]="'six'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #foureight
      class="col"
      [row]="'four'"
      [col]="'eight'"
      [box]="'six'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #fournine
      class="col"
      [row]="'four'"
      [col]="'nine'"
      [box]="'six'"
      (handleClick)="squareClick($event)"
    ></app-square>
  </div>
  <div class="row">
    <app-square
      #fiveone
      class="col"
      [row]="'five'"
      [col]="'one'"
      [box]="'four'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #fivetwo
      class="col"
      [row]="'five'"
      [col]="'two'"
      [box]="'four'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #fivethree
      class="col"
      [row]="'five'"
      [col]="'three'"
      [box]="'four'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #fivefour
      class="col"
      [row]="'five'"
      [col]="'four'"
      [box]="'five'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #fivefive
      class="col"
      [row]="'five'"
      [col]="'five'"
      [box]="'five'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #fivesix
      class="col"
      [row]="'five'"
      [col]="'six'"
      [box]="'five'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #fiveseven
      class="col"
      [row]="'five'"
      [col]="'seven'"
      [box]="'six'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #fiveeight
      class="col"
      [row]="'five'"
      [col]="'eight'"
      [box]="'six'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #fivenine
      class="col"
      [row]="'five'"
      [col]="'nine'"
      [box]="'six'"
      (handleClick)="squareClick($event)"
    ></app-square>
  </div>
  <div class="row">
    <app-square
      #sixone
      class="col"
      [row]="'six'"
      [col]="'one'"
      [box]="'four'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #sixtwo
      class="col"
      [row]="'six'"
      [col]="'two'"
      [box]="'four'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #sixthree
      class="col"
      [row]="'six'"
      [col]="'three'"
      [box]="'four'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #sixfour
      class="col"
      [row]="'six'"
      [col]="'four'"
      [box]="'five'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #sixfive
      class="col"
      [row]="'six'"
      [col]="'five'"
      [box]="'five'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #sixsix
      class="col"
      [row]="'six'"
      [col]="'six'"
      [box]="'five'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #sixseven
      class="col"
      [row]="'six'"
      [col]="'seven'"
      [box]="'six'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #sixeight
      class="col"
      [row]="'six'"
      [col]="'eight'"
      [box]="'six'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #sixnine
      class="col"
      [row]="'six'"
      [col]="'nine'"
      [box]="'six'"
      (handleClick)="squareClick($event)"
    ></app-square>
  </div>
  <div class="row">
    <app-square
      #sevenone
      class="col"
      [row]="'seven'"
      [col]="'one'"
      [box]="'seven'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #seventwo
      class="col"
      [row]="'seven'"
      [col]="'two'"
      [box]="'seven'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #seventhree
      class="col"
      [row]="'seven'"
      [col]="'three'"
      [box]="'seven'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #sevenfour
      class="col"
      [row]="'seven'"
      [col]="'four'"
      [box]="'eight'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #sevenfive
      class="col"
      [row]="'seven'"
      [col]="'five'"
      [box]="'eight'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #sevensix
      class="col"
      [row]="'seven'"
      [col]="'six'"
      [box]="'eight'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #sevenseven
      class="col"
      [row]="'seven'"
      [col]="'seven'"
      [box]="'nine'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #seveneight
      class="col"
      [row]="'seven'"
      [col]="'eight'"
      [box]="'nine'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #sevennine
      class="col"
      [row]="'seven'"
      [col]="'nine'"
      [box]="'nine'"
      (handleClick)="squareClick($event)"
    ></app-square>
  </div>
  <div class="row">
    <app-square
      #eightone
      class="col"
      [row]="'eight'"
      [col]="'one'"
      [box]="'seven'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #eighttwo
      class="col"
      [row]="'eight'"
      [col]="'two'"
      [box]="'seven'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #eightthree
      class="col"
      [row]="'eight'"
      [col]="'three'"
      [box]="'seven'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #eightfour
      class="col"
      [row]="'eight'"
      [col]="'four'"
      [box]="'eight'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #eightfive
      class="col"
      [row]="'eight'"
      [col]="'five'"
      [box]="'eight'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #eightsix
      class="col"
      [row]="'eight'"
      [col]="'six'"
      [box]="'eight'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #eightseven
      class="col"
      [row]="'eight'"
      [col]="'seven'"
      [box]="'nine'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #eighteight
      class="col"
      [row]="'eight'"
      [col]="'eight'"
      [box]="'nine'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #eightnine
      class="col"
      [row]="'eight'"
      [col]="'nine'"
      [box]="'nine'"
      (handleClick)="squareClick($event)"
    ></app-square>
  </div>
  <div class="row">
    <app-square
      #nineone
      class="col"
      [row]="'nine'"
      [col]="'one'"
      [box]="'seven'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #ninetwo
      class="col"
      [row]="'nine'"
      [col]="'two'"
      [box]="'seven'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #ninethree
      class="col"
      [row]="'nine'"
      [col]="'three'"
      [box]="'seven'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #ninefour
      class="col"
      [row]="'nine'"
      [col]="'four'"
      [box]="'eight'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #ninefive
      class="col"
      [row]="'nine'"
      [col]="'five'"
      [box]="'eight'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #ninesix
      class="col"
      [row]="'nine'"
      [col]="'six'"
      [box]="'eight'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #nineseven
      class="col"
      [row]="'nine'"
      [col]="'seven'"
      [box]="'nine'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #nineeight
      class="col"
      [row]="'nine'"
      [col]="'eight'"
      [box]="'nine'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #ninenine
      class="col"
      [row]="'nine'"
      [col]="'nine'"
      [box]="'nine'"
      (handleClick)="squareClick($event)"
    ></app-square>
  </div>
</div>

<div class="digit-selection container text-center">
  <div class="row">
    <app-square
      #set1
      class="col"
      [value]="'1'"
      [id]="'set1'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #set2
      class="col"
      [value]="'2'"
      [id]="'set2'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #set3
      class="col"
      [value]="'3'"
      [id]="'set3'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #set4
      class="col"
      [value]="'4'"
      [id]="'set4'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #set5
      class="col"
      [value]="'5'"
      [id]="'set5'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #set6
      class="col"
      [value]="'6'"
      [id]="'set6'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #set7
      class="col"
      [value]="'7'"
      [id]="'set7'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #set8
      class="col"
      [value]="'8'"
      [id]="'set8'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #set9
      class="col"
      [value]="'9'"
      [id]="'set9'"
      (handleClick)="squareClick($event)"
    ></app-square>
    <app-square
      #del
      class="col"
      [value]="''"
      [id]="'del'"
      (handleClick)="squareClick($event)"
    ></app-square>
  </div>
</div>

<div class="icons-container container">
  <div class="new-game icon-container" (click)="handleNewGameClick()">
    <fa-icon [icon]="faPlusCircle" size="3x"></fa-icon>
    <span>New Game</span>
  </div>

  <div class="icon-container" (click)="handleHintsClick()">
    <app-square
      #toggleHints
      class="toggle-hints"
      [available]="true"
    ></app-square>
    <span>Hints: {{ hintsOn ? "ON" : "OFF" }}</span>
  </div>

  <div class="restart-game icon-container" (click)="handleRestartClick()">
    <fa-icon [icon]="faRotate" size="3x"></fa-icon>
    <span>Restart Game</span>
  </div>
</div>
