<div class="game-board container text-center">
  <div class="row">
    <app-square class="col" [value]="'X'" [id]="'A1'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'A2'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'A3'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'B1'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'B2'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'B3'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'C1'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'C2'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'C3'" (handleClick)="squareClick($event)"></app-square>
  </div>
  <div class="row">
    <app-square class="col" [value]="'X'" [id]="'A4'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'A5'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'A6'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'B4'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'B5'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'B6'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'C4'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'C5'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'C6'" (handleClick)="squareClick($event)"></app-square>
  </div>
  <div class="row">
    <app-square class="col" [value]="'X'" [id]="'A7'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'A8'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'A9'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'B7'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'B8'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'B9'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'C7'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'C8'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'C9'" (handleClick)="squareClick($event)"></app-square>
  </div>
  <div class="row">
    <app-square class="col" [value]="'X'" [id]="'D1'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'D2'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'D3'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'E1'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'E2'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'E3'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'F1'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'F2'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'F3'" (handleClick)="squareClick($event)"></app-square>
  </div>
  <div class="row">
    <app-square class="col" [value]="'X'" [id]="'D4'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'D5'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'D6'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'E4'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'E5'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'E6'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'F4'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'F5'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'F6'" (handleClick)="squareClick($event)"></app-square>
  </div>
  <div class="row">
    <app-square class="col" [value]="'X'" [id]="'D7'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'D8'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'D9'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'E7'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'E8'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'E9'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'F7'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'F8'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'F9'" (handleClick)="squareClick($event)"></app-square>
  </div>
  <div class="row">
    <app-square class="col" [value]="'X'" [id]="'G1'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'G2'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'G3'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'H1'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'H2'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'H3'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'I1'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'I2'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'I3'" (handleClick)="squareClick($event)"></app-square>
  </div>
  <div class="row">
    <app-square class="col" [value]="'X'" [id]="'G4'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'G5'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'G6'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'H4'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'H5'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'H6'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'I4'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'I5'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'I6'" (handleClick)="squareClick($event)"></app-square>
  </div>
  <div class="row">
    <app-square class="col" [value]="'X'" [id]="'G7'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'G8'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'G9'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'H7'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'H8'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'H9'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'I7'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'I8'" (handleClick)="squareClick($event)"></app-square>
    <app-square class="col" [value]="'X'" [id]="'I9'" (handleClick)="squareClick($event)"></app-square>
  </div>
</div>

<div class="digit-selection container text-center">
  <div class="row">
    <div class="col">1</div>
    <div class="col">2</div>
    <div class="col">3</div>
    <div class="col">4</div>
    <div class="col">5</div>
    <div class="col">6</div>
    <div class="col">7</div>
    <div class="col">8</div>
    <div class="col">9</div>
  </div>
</div>
